---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site?.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/rocket.webp" alt="Illustration of a notebook" width="330">
    </figure>
    <p>Welcome to Tech Tales & Random Insights, your digital hub for
      everything from the latest in technology to personal stories and
      thought-provoking randomness. Whether you're a tech enthusiast, a
      storyteller, or someone who enjoys venturing into the unpredictable,
      you'll find something here that resonates with you. Let’s embark on a
      journey where innovation and creativity collide!</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
