<div class="container">
  <img src="/assets/pic.png" alt="Headshot of Samarth">
  <p>
    Hi, I'm <strong>Samarth</strong>. I'm a software engineer based in Los Angeles.
    You can follow me on <a href="https://www.twitter.com/10samarth" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/10samarth" target="_blank">GitHub</a>,
    or read more about me on <a href="https://www.linkedin.com/in/samarthmg/" target="_blank">LinkedIn</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
